<h1 class="mt-3 text-center" *ngIf="edicao">Edição de Livros</h1>
<h1 class="mt-3 text-center" *ngIf="!edicao">Cadastro de Livros</h1>
<!-- 
<h1 class="mt-3 text-center">
  {{ edicao ? 'Edição' : 'Cadastro'}} de Livros
</h1> -->

<form [formGroup]="livroForm" (ngSubmit)="onSubmit()" class="col-8 offset-2">
  <div class="mb-3">
    <label for="nome">Nome: </label>
    <input class="form-control" id="nome" type="text" formControlName="nome" />
  </div>
  <div class="mb-3">
    <label for="autor">Autor: </label>
    <input class="form-control" id="autor" type="text" formControlName="autor" />
  </div>
  <div class="mb-3">
    <label for="preco">Preço: </label>
    <input class="form-control" id="preco" type="text" formControlName="preco" />
  </div>
  <div class="mb-3">
    <label for="publicacao">Data de publicação: </label>
    <input class="form-control" id="publicacao" type="date" formControlName="publicacao" />
  </div>
  <div class="mt-5 text-center">
    <button type="submit" [disabled]="!livroForm.valid" class="btn btn-success">
      {{ edicao ? 'Salvar' : 'Cadastrar' }}
    </button>

    <!-- <button *ngIf="edicao" type="submit" [disabled]="!livroForm.valid" class="btn btn-success">
      Salvar
    </button>
    <button *ngIf="!edicao" type="submit" [disabled]="!livroForm.valid" class="btn btn-success">
      Cadastrar
    </button> -->

    <button type="reset" class="btn btn-secondary ms-1">Cancelar</button>
  </div>
</form>