<ion-header>
  <ion-toolbar>
    <ion-title> {{ editLabel ? "Edição" : "Cadastro" }} do Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="formEvento" [formGroup]="eventoForm">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-list>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-input
                label="Nome*"
                labelPlacement="floating"
                fill="outline"
                formControlName="nome"
                placeholder="Digite o nome do evento"
              ></ion-input>
            </ion-item-group>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-input
                label="Endereço*"
                labelPlacement="floating"
                fill="outline"
                formControlName="endereco"
                placeholder="Digite o endereço do evento"
              ></ion-input>
              <ion-note
                color="danger"
                *ngIf="
                  eventoForm.controls['endereco'].hasError('invalidAddress')
                "
              >
                Endereço Inválido.
              </ion-note>
              <ion-note
                color="danger"
                *ngIf="eventoForm.controls['endereco'].hasError('required')"
              >
                O campo é obrigatório.
              </ion-note>
            </ion-item-group>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-label>Data e Hora*</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
            </ion-item-group>

            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-select
                formControlName="organizadorId"
                label="Organizador*"
                label-placement="floating"
              >
                <ion-select-option
                  *ngFor="let organizador of organizadores"
                  value="{{ organizador.id }}"
                  >{{ organizador.nomeResponsavel }}</ion-select-option
                >
              </ion-select>
            </ion-item-group>

            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-textarea
                [autoGrow]="true"
                [maxlength]="250"
                [counter]="true"
                [counterFormatter]="characterCounter"
                label="Descrição"
                labelPlacement="floating"
                fill="outline"
                formControlName="descricao"
                placeholder="Informe a descrição (opcional)"
              ></ion-textarea>
            </ion-item-group>
          </ion-list>
        </ion-col>
        <ion-col size="4">
          <ion-list formArrayName="participantes">
            <ion-label>Participantes</ion-label>
            <ion-item
              *ngFor="let participante of formArray?.controls; let i = index"
            >
              <ion-checkbox [formControlName]="i">{{
                participantes[i].nome
              }}</ion-checkbox>
            </ion-item>
            <ion-note
              color="danger"
              *ngIf="
                eventoForm.controls['participantes'].hasError(
                  'invalidParticipante'
                )
              "
            >
              Selecione ao menos um participante.
            </ion-note>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div
    class="button-container"
    [ngClass]="{
      'justify-space-between': !!valores,
      'justify-flex-end': !valores
    }"
  >
    <ion-button
      *ngIf="!!valores"
      type="button"
      size="large"
      shape="round"
      color="danger"
      (click)="save()"
    >
      Excluir Evento
    </ion-button>

    <ion-button
      type="submit"
      size="large"
      shape="round"
      form="formEvento"
      color="primary"
      (click)="save()"
      [disabled]="!eventoForm.valid"
      >{{ !editLabel ? "Adicionar" : "Editar" }}
    </ion-button>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        min="{{ actualDate }}"
        [value]="dateTimeFormatted === '' ? actualDateTime : dateTimeFormatted"
        (ionChange)="formatDateTime($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
