<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ createMode ? "Cadastro " : "Edição " }} de Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <form [formGroup]="eventoForm">
          <ion-list>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-input
                label="Nome*"
                labelPlacement="floating"
                fill="outline"
                formControlName="nome"
                placeholder="Digite o nome do evento"
              ></ion-input>
            </ion-item-group>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-input
                label="Endereço*"
                labelPlacement="floating"
                fill="outline"
                formControlName="endereco"
                placeholder="Digite o endereço do evento"
              ></ion-input>
            </ion-item-group>
            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-label>Data e Hora*</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
            </ion-item-group>

            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-select label="Organizador*" label-placement="floating">
                <ion-select-option
                  *ngFor="let organizador of organizadores"
                  value="{{ organizador.id }}"
                  >{{ organizador.nomeResponsavel }}</ion-select-option
                >
              </ion-select>
            </ion-item-group>

            <ion-item-group class="ion-padding-horizontal ion-margin">
              <ion-textarea
                [autoGrow]="true"
                [maxlength]="250"
                [counter]="true"
                [counterFormatter]="characterCounter"
                label="Descrição"
                labelPlacement="floating"
                fill="outline"
                placeholder="Informe a descrição (opcional)"
              ></ion-textarea>
            </ion-item-group>
          </ion-list>
        </form>
        <div class="button-container">
          <ion-button
            type="submit"
            size="large"
            shape="round"
            color="primary"
            (click)="save()"
            [disabled]="!eventoForm.valid"
            >{{ !editLabel ? "Adicionar" : "Editar" }}
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-list> </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        min="{{ actualDate }}"
        value="2023-04-27T15:25:53Z"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
