/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

.icon-size {
  padding: 0 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}

.button-cleaner {
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

.inline_modal {
  --width: 100%;
  --max-width: 60rem;
  --height: 37.5rem;
  --border-radius: 5px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--ion-color-light-tint) var(--ion-item-background);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--ion-item-background);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--ion-item-background);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--ion-item-background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--ion-color-light-tint);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--ion-color-light-tint);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--ion-color-light-tint);
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
