ion-content {
  ion-grid {
    --ion-grid-padding: 0;

    .cardRowContainer {
      padding-bottom: 0;
      ion-col {
        min-height: 7.3rem;
        --ion-grid-column-padding: 0;
      }

      ion-card {
        border-left: 0.25rem solid var(--ion-color-secondary);

        ion-card-header {
          padding-bottom: 0.125rem;

          ion-card-title {
            text-transform: uppercase;
            --color: var(--ion-color-secondary);
            font-weight: 600;
            font-size: 1rem;
          }
          ion-card-subtitle {
            margin: 0;
          }
        }

        ion-card-content {
          padding-top: 0.5rem;
          span {
            font-weight: 700;
            font-size: 1.25rem;
          }
        }

        .iconContainer {
          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            width: 2rem;
            height: 2rem;
            color: var(--ion-color-medium-tint);
          }
        }
      }

      .participanteCardContainer {
        border-left: 0.25rem solid var(--ion-color-tertiary);
        ion-card-header {
          ion-card-title {
            --color: var(--ion-color-tertiary);
          }
        }
      }
      .organizadorCardContainer {
        border-left: 0.25rem solid var(--ion-color-warning-shade);

        ion-card-header {
          ion-card-title {
            --color: var(--ion-color-warning-shade);
          }
        }
      }
    }

    .graficoContainer {
      ion-col {
        --ion-grid-column-padding: 0;
        ion-card {
          ion-card-header {
            background: var(--ion-color-light);
          }
          ion-card-content {
            canvas {
              max-height: 41rem;
            }
          }
        }
      }
    }
  }
}
